/* #1f1ffc 
    #f55742
*/
/* Reset box model */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default margin and padding for some elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set default font size and family */
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  height: 100%;
}

/* Remove hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
}

section {
  /* padding: 24px; */
  width: 100%;
}

button {
  background-color: #f55742;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 1rem;
  font-family: "inter", sans-serif;
  font-weight: 600;
  border-radius: 10px;
}

button:hover {
  background-color: #ff6b57;
}

button:active {
  border: 1px solid white;
}

.burger-menu {
  display: none;
  justify-self: center;
  align-self: center;
  padding-bottom: 15px;
}

.burger-toggle {
  display: none;
}

.left span,
.right span,
.shopping-cart {
  cursor: pointer;
}

/* BURGER MENU*/

.burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  /* border: 1px solid black; */
}

.burger-toggle {
  display: none;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 20px;
}

.burger-icon span {
  background: #333;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  width: 25px;
}

.burger-icon span:first-child {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 10px;
}

.burger-icon span:last-child {
  top: 20px;
}

.burger-nav {
  background: #fff;
  display: none;
  position: fixed;
  top: 85px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.burger-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.burger-nav li {
  margin: 0;
  display: inline-block;
}

.burger-nav a {
  color: #333;
  display: block;
  font-size: 24px;
  padding: 20px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.burger-nav a:hover {
  background: rgba(31, 31, 252, 0.288);
  color: #f55742;
  font-weight: 700;
}

/* Animation styles */

.burger-toggle:checked ~ .burger-icon span:first-child {
  transform: rotate(45deg) translate(5px, 13px);
}

.burger-toggle:checked ~ .burger-icon span:nth-child(2) {
  opacity: 0;
}

.burger-toggle:checked ~ .burger-icon span:last-child {
  transform: rotate(-45deg) translate(1px, -9px);
}

.burger-toggle:checked ~ .burger-nav {
  display: block;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 531px) {
  .nav-menu {
    display: none;
    height: 100vh;
  }

  .burger-menu {
    display: flex;
  }
}

/*  Header Component */
header {
  width: 100vw;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 20px;
}

.main-logo {
  font-size: 1.5rem;
  background-color: #f55742;
  color: white;
  padding: 5px 15px;
  border-radius: 40px;
  box-shadow: -5px 8px 2px 1px rgba(31, 31, 252, 0.219);
  font-family: "Fugaz One", cursive;
}

/* Home  Component */
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.hero > p {
  width: 70%;
  line-height: 1.7;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Fridge Component */

.fridge {
  width: 100%;
  height: calc(100vh - 94px); /* Subtract the header height */
  display: flex;
  flex-direction: column;
}

/* Fridge list/items */

.submit-wrapper {
  width: 90%;
  max-width: 500px;
  height: calc(96vh - 200px);
  margin: auto;
  position: relative;
}

.fridge-list-card {
  /* MAV: */
  position: relative;
  /* changes ends here: */
  width: 100%;
  max-width: 500px;
  height: calc(96vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid rgb(187, 187, 187);
  box-shadow: -5px 8px 2px 1px rgba(31, 31, 252, 0.219);
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.fridge-list__title {
  padding: 15px;
  /* MAV: */
  position: sticky;
  top: 0;
  background-color: #fff; 
  /* changes ends here  */
}

.fridge-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fridge__items {
  width: 90%;
  max-width: 551px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

/* Fridge form, buttons & input */

.fridge__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  background-color: #ceafab;
}

.fridge__controls {
  width: 100%;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.fridge__input {
  width: 80%;
  height: 35px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.fridge__button--submit {
  position: absolute;
  bottom: 40px;
  right: 30px;
}

.fridge__button--delete {
  width: 25px;
  height: 25px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  width: 20px;
}

/* Empty State component */

.empty-state {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-state__image {
  max-width: 270px;
}

.empty-state__ingredients-message {
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 5px 0px;
}

.empty-state__ingredients-message:nth-of-type(2) {
  font-size: 0.9rem;
}

.empty-message {
  font-weight: bolder;
  color: #f55742;
}

/* Mav: Added style property */
.recipe-content {
  padding: 5px 20px 20px 20px;
  text-align: left;
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 400;
}
